/*general styles*/
body {
    font-family: 'Roboto Slab', serif;
    margin:0;
    box-sizing: border-box;
}

/*general styles end*/
/*menu navbar*/

.navbar {
   background-color: transparent;
   padding: 3%;
   transition: all 0.4s;
}

.navbar.scrolled {
    background-color: rgba(14,216,214,0.6);
}

.navbar .navbar-brand {
    color: #fff;
    font-family: 'Droid Serif', sans-serif;
} 


#link1, #link2, #link3, #link4 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*end menu navbar*/

/*style main header start*/

.main-header{
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/header/pictures_on_the_wall.jpg);
    background-position:center;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    color: #fff;



}
.main-header h2 {
    font-family: 'Droid Serif', sans-serif;
    font-size: 3em;
}

.main-header h1 {
    font-family: 'Monserrat', sans-serif;
    font-size: 4em;
    font-weight: 700;
}

.main-header a {
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    background-color: #0ed8d6;
    border:1px solid #0ed8d6;
    transition: all 0,3s;
}

.main-header a:hover {
    background-color: #fff;
    color: #0ed8d6;
    border: 1px 1px solid #0ed8d6;
    
}

/*style main header end*/

/*contener services start*/




.fa-briefcase, .fa-cloud-download, .fa-comment {
    font-size: 2.8em;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    border-radius: 50%;
    font-size: 2.8em;
    color:#fff;
    height: 80px;
    width: 80px;
    line-height: 80px;
    }

.col-md-12 {
    padding: 5%;
}


/*contener services end*/

/*portfolio start*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
    overflow: hidden;
    
}




.pic1 {
    height:50vh;
    background-image: url(../img/portfolio/box_of_cookies.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
    
}

.pic1:hover {
    transform: scale(1.2);
}

.pic2 {
    height:50vh;
    background-image: url(../img/portfolio/chaotic_paint.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

.pic2:hover {
    transform: scale(1.2);
}

.pic3 {
    height:50vh;
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}
.pic3:hover {
    transform: scale(1.2);
}

.pic4 {
    height:50vh;
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

.pic4:hover {
    transform: scale(1.2);
}

.pic5 {
    height:50vh;
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}

.pic5:hover {
    transform: scale(1.2);
}

.pic6 {
    height:50vh;
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}
.pic6:hover {
    transform: scale(1.2);
}

.mask {
    background-color: rgba(14,216,214,0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask:hover {
    opacity: 1;
}

.fa-plus {
    color: white;
    font-size: 2.8em;
    
}

/*portfolio end*/

/*met our team  start*/
.teamh {
    padding:3%;
}



.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#p1 {
    background-image: url(../img/team/man-1.jpg);
    border-radius: 50%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    width:100%;
}

.p2 {
    background-image: url(../img/team/man-2.jpg);
    border-radius: 50%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    width:100%;
}

.p3 {
    background-image: url(../img/team/woman-1.jpg);
    border-radius: 50%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    width:100%;
}

.main {
    padding: 5%;
}

.social-link {
	height: 40px;
	width: 40px;
	display: inline-block;
	line-height: 40px;
	background-color: #222;
	border: 1px solid #222;
	border-radius: 50%;
	font-size: 1.8em;
	color: #fff;
	transition: all .3s;
	margin: 5px;
	text-align: center;
}



/*met our team  end*/

/*contact start*/
#contact {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/footer/world-map.jpg);
}

#contact .section-header,
#contact .section-header .section-title {
	color: #fff;
}

#contact .contact-form .contact-form-column {
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contact input,
#contact textarea {
	text-transform: uppercase;
	padding: 15px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
}

#contact input:not([type='submit']),
#contact textarea {
	border: 0px solid;
}

#contact textarea {
	height: 100%;
}

#contact input[type='submit'] {
	background-color: #0ed8d6;
	border: 1px solid #0ed8d6;
	color: #fff;
	transition: all .3s;
	margin-top: 30px;
	cursor: pointer;
}

#contact input[type='submit']:hover {
	background-color: #fff;
	border: 1px solid #0ed8d6;
	color: #0ed8d6;
}

/*contact end*/